	{{ include('admin/navAdmin.html.twig') }}
        <section class="hero">
            <div class="hero_texte">
                <figure><img src="{{ asset('asset/image/admin1.jp') }}"  alt=""></figure>
                <p>GLAMOURRETTE</p>
                <p>************************</p>
                <p>ADMINISTRATION</p>
            </div>
            
            <div class="overlay"></div>
        </section>
    </div>
    {% block body %}
    {% endblock %}

    </body>
    </html>