{% extends 'base.html.twig' %}

{% block title %}Bravo commande passé!{% endblock %}

{% block body %}

 <br><br><br><br><br><br>

    <header class="container-fluid p-5 text-center bg-light">
    <br><br><br><br><br><br>
   
        <h1>GLAMOURRETTE - Paiement effectué avec succès</h1>
    </header>
{% endblock %}
