

{% extends 'base.html.twig' %}

{% block title %}CONTACT |GLAMOURRETTE | maquillage | beauté | YEUX| LEVRES| TIENT | Parfum |FEMME|Homme{% endblock %}

{% block body %}
  <br><br><br><br><br><br>

    <header class="container-fluid p-5 text-center bg-light">
    <br><br><br><br><br><br>
   
        <h1>EQUIPES GLAMOURRETTE - Nous avons bien reçu votre email Mr/Mme{{ data.nom }} , votre email {{ data.email}}.
Votre message est {{ data.message}}</h1>
    </header>

    

{% endblock %}